@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

body {
    font-family: Roboto, Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    line-height: 1.5;
    color: #404040;
    text-align: left;
    background-color: #f8f9fa;
    letter-spacing: .3px;
}

body, p {
    color: #404040
}

.shadow-sm {
    -webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .1) !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .1) !important
}

.coupon {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px
}

.container h1, .container-fluid h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: .8rem;
    margin-top: .8rem
}

.coupon h2 a {
    color: #404040
}

.coupon .m-logo {
    max-width: 100%;
    height: auto;
}

.coupon .logo {
    min-height: 125px;
    max-height: 250px;
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -99999px;
    overflow: hidden;
    position: relative;
    z-index: 99;
    border-radius: 5px 5px 0 0;
    margin: 0;
    padding: .75em;
    width: auto;
    cursor: pointer;
    background-image: url('../files/fitnessol-loading.svg');
}

.coupon .deal-desc h2 {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    overflow: hidden
}

.coupon .deal-desc .subtitle {
    font-size: 13px;
    color: #8a8a8a;
    line-height: 18px;
    word-break: keep-all;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem
}

.coupon .deal-desc {
    font-size: 13px;
    overflow: hidden;
}

.coupon .deal-desc span {
    font-size: 0.8rem;
}

.coupon .deal-desc .expire {
    font-size: 13px;
    color: #8a8a8a
}

.get-code, .get-deal {
    width: 90%;
    height: 40px;
    right: 15px
}

.get-deal a {
    background-color: #259fc4;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 13px;
    line-height: 40px;
    right: 12px;
    font-weight: 700
}

.get-deal a:hover {
    background-color: #218eaf
}

.get-code a, .get-code span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    font-weight: 700
}

.get-code span {
    padding-right: 5px;
    right: 25px;
    border: dashed 2px #2fc2a9;
    font-size: 18px;
    text-align: right;
    line-height: 36px;
    color: #2fc2a9;
    font-weight: 500
}

.get-code a {
    background-repeat: no-repeat;
    color: #fff;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    right: 35px
}

.show-link {
    -webkit-transition: all .2s;
    transition: all .2s;
}

.get-code a:hover {
    left: -10px;
    right: 22px
}

.nav-codes {
    margin-bottom: .5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6
}

.nav-codes a.selected {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #2fc2a9 !important
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.nav-codes a {
    cursor: pointer
}

.benefit {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .2px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px dashed #e7e7e7;
    background-color: #4db7ad;
}

.benefit p {
    background-color: #f5f5f5;
    padding: 2px 0;
    border-bottom-right-radius: 2.1px;
    border-bottom-left-radius: 2.1px;
    font-size: 13px;
    letter-spacing: .5px;
    text-transform: capitalize;
    margin: 0 auto
}

.benefit .discount {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .5px
}

.benefit .suffix {
    padding-bottom: .5rem;
}

.benefit .type {
    text-align: center;
    background-color: #FFF;
    padding: 2px 0;
    border-top: 1px dashed #e7e7e7;
    border-bottom-right-radius: 2.1px;
    border-bottom-left-radius: 2.1px;
    font-size: 13px;
    letter-spacing: .5px;
    text-transform: capitalize;
    color: #333
}

.deal-desc .click-times {
    color: #8a8a8a;
    font-size: 14px
}

.deal-desc a {
    color: inherit;
}

a:hover {
    text-decoration: none
}

.p-brands {
    margin-bottom: 1rem;
    padding: 1rem
}

.p-brands .link a {
    -webkit-transition: all .5s;
    transition: all .5s;
}

.p-brands .link a:hover {
    color: #28a745;
    padding: 0 0 0 10px
}

.p-brands .link {
    font-size: 1rem;
}

.container-codes {
    padding-top: 10px
}

.bi .bp {
    background-color: #fff;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 1px
}

.bi .bp h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
    padding: 0 .5rem
}

.bi .bp .cats, .bi .bp .subtitle {
    font-size: 13px;
    color: #8a8a8a;
    margin-bottom: .5rem
}

.jq-ry-container {
    position: relative;
    padding: 0 5px;
    line-height: 0;
    display: block;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    direction: ltr
}

.jq-ry-container > .jq-ry-group-wrapper {
    position: relative;
    width: 100%
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
    width: 100%
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
    position: relative;
    line-height: 0;
    z-index: 10;
    white-space: nowrap
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
    display: inline-block
}

svg {
    overflow: hidden;
    vertical-align: middle
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
    width: 0;
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden
}

.bi .bp .vote .rate-yo {
    margin: auto
}

.bi .bp .vote p {
    display: inline-block;
    color: #8a8a8a;
    font-size: 14px
}

.bi .bp .vote .btn-rate {
    display: block;
    font-size: 13px;
    width: 72px;
    height: 1.5rem;
    background-color: #fef5e2;
    color: #faaf19;
    border: none;
    margin: .5rem auto 1rem;
    line-height: 1.2rem;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.bi .bp .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px
}

.bi .bp .premium-badge {
    position: absolute;
    top: 0;
    right: 0
}

.bi .specialist .info {
    position: relative
}

.bi .specialist .info img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px
}

.bi .specialist .info .name {
    font-weight: 700;
    padding-top: 10px;
    text-transform: capitalize
}

.bi .specialist .info p {
    padding-left: 60px;
    font-size: 14px
}

.bi .specialist .info .email {
    color: #8a8a8a
}

.bi .specialist .message {
    padding: 10px
}

.bi .specialist .message p {
    font-size: 13px;
    color: #8a8a8a
}

.bi .lp {
    background-color: #fff;
    margin-bottom: 10px;
    position: relative
}

.bi .lp .title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    margin-bottom: 0
}

.bi .lp .links {
    padding: 10px 15px
}

.border-top {
    border-top: 1px solid #dee2e6 !important
}

.bi .lp .links p {
    font-size: 13px;
    -webkit-transition: all .5s;
    transition: all .5s;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0
}

.bi .lp .links p:hover {
    padding: 0 0 0 10px
}

.bi .lp .links p a {
    color: #404040
}

.bi .lp .links p a:hover {
    color: #28a745
}

.new-store .links p {
    font-size: 13px;
    -webkit-transition: all .5s;
    transition: all .5s;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0
}

.new-store .links p:hover {
    padding: 0 0 0 10px
}

.new-store .links p a {
    color: #404040
}

.new-store .links p a:hover {
    color: #17a2b8
}

a.overlay, div.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.rich-content h2 {
    font-weight: 700;
    font-size: 16px
}

.rich-content .content, .rich-content .rich-content-p {
    margin-bottom: 10px;
    font-size: 13px;
    word-break: keep-all;
    color: #636363
}

.rich-content ul {
    list-style: none;
    padding: 0
}

.rich-content iframe, .content img, .content p > img, .rich-content img, .rich-content p > img, .rich-content video {
    max-width: 100% !important;
    height: auto !important;
    margin: 0px auto !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.show-code {
    width: 90%
}

.show-code .h-btn {
    color: #333;
    position: relative;
    padding: 0;
    text-align: right;
    overflow: hidden
}

.show-code .btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    max-width: 100%;
    white-space: nowrap;
    border-radius: inherit;
}

.show-code .btn.h-btn p {
    direction: rtl
}

.show-code .h-btn p {
    background-color: #d5f6ff;
    border: 1px solid #a8ced9;
    padding: 0 5px;
    font-size: 16px;
    font-weight: 700
}

.show-code .btn p {
    line-height: 36px;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600
}

.show-code .h-btn span {
    position: absolute;
    font-weight: 700;
    font-size: 13px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 30px;
    padding-left: 20px;
    background-color: #259fc4;
    color: #fff;
    display: block;
    text-align: center;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out
}

.show-code .h-btn span:after, .show-code .h-btn span:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 0
}

.show-code .h-btn span:before {
    border-top: 24px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #259fc4;
    border-left: 12px solid #259fc4;
    left: 100%
}

.show-code .h-btn span:after {
    border-top: 22px solid transparent;
    border-right: 15px solid #1a7a97;
    border-bottom: 32px solid transparent;
    right: 0;
    z-index: 1;
    -webkit-transform: rotate(-27deg);
    -moz-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    -o-transform: rotate(-27deg);
    transform: rotate(-27deg);
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right
}

.show-code .h-btn:hover span {
    right: 35px;
    padding-left: 35px;
    background-color: #218eaf
}

.show-code .h-btn:hover span:after {
    border-width: 22px 19px 32px 0
}

.modal-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5rem;
    overflow: hidden
}

footer .footer-bar {
    background-color: #2d3e50;
    color: #fff;
    line-height: 1;
    padding: 20px 0
}

footer .footer-bar a {
    color: #73a1d1;
    font-size: 0.9rem;
}

footer .footer-bar p {
    color: #FFF;
    line-height: 20px;
}

footer .footer-bar a:hover {
    color: #007bff
}

footer .footer-bar a.link-footer:after {
    content: '';
    width: 0;
    display: block;
    height: 2px;
    background: #fff;
    transition: width .3s
}

footer .footer-bar a.link-footer:hover:after {
    width: 100%
}

footer a i {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 2.5rem;
    margin-right: .25rem
}

.tt-dataset {
    width: 300px;
    max-width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.store-domain {
    font-size: .9rem;
    overflow: hidden;
    word-break: break-all
}

.store-domain i {
    color: #d9d9da
}

#reviews {
    background-color: #fff;
    padding: 10px
}

#submit_coupon .title {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 48px
}

@media (max-width: 320px) {
    .tt-hint, .tt-input {
        width: 250px;
        max-width: 100%;
    }
}

@media (max-width: 575.98px) {
    .container {
        max-width: 540px;
    }

    .tt-hint, .tt-input {
        width: 300px;
        max-width: 100%;
    }

    .tt-dataset {
        width: 300px;
        max-width: 100%;
        max-height: 200px;
        overflow-y: auto;
    }

    .bi .lp .links p {
        font-size: 16px;
        line-height: 30px
    }

    .rich-content .content, .rich-content .rich-content-p {
        font-size: 15px
    }

    .home-top {
        padding: 5px 0 !important
    }

    .get-deal, .show-code {
        width: 100%
    }

    .coupon .deal-desc h2 {
        margin-top: 4px;
        font-size: 15px;
        overflow: hidden
    }

    .benefit .discount {
        font-size: 16px
    }

    .deal-desc {
        font-size: 13px;
    }

    header .navbar_search {
        display: block;
        left: 150px;
        position: absolute;
        padding: 0;
        background-color: transparent;
        z-index: 101
    }

    header .header-nav {
        padding-top: 15px;
        height: 75px
    }

    header {
        display: block;
        background-color: #2d3e50;
        text-align: center;
        position: relative
    }

    header .navbar_search .navbar_searchForm {
        position: relative
    }

    header .navbar_search .navbar_searchForm .navbar_searchInput {
        width: 100%;
        padding: 6px 30px 6px 10px;
        font-size: 13px;
        outline: 0;
        border: 1px solid #e7e7e7;
        border-radius: 4px
    }

    header .navbar_search .navbar_searchForm .navbar_searchImageContainer {
        position: absolute;
        top: 9px;
        right: 9px
    }

    header .navbar_search .navbar_searchForm .navbar_searchImageContainer svg {
        display: block;
        width: 20px;
        height: 20px;
        stroke: #222
    }

    .links {
        padding: 0 0 0 1rem;
        margin: 0;
        list-style-type: none;
        background-color: #fff
    }

    .links li {
        position: relative;
        height: 3rem;
        line-height: 3rem;
        font-size: .9rem;
        padding-right: 2rem;
        overflow: hidden
    }

    .links li i.fa-circle {
        color: #2fc2a9;
        font-size: 1rem;
        margin-right: .5rem
    }

    .links li i.fa-chevron-right {
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: #8a8a8a
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    .tt-hint, .tt-input {
        min-width: 300px;
        max-width: 60%
    }

    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

#modal-key-coupon .modal-dialog {
    top: 15%
}

#modal_show_code input {
    height: 100%;
    border-style: dashed none dashed dashed;
    border-width: 2px 0 2px 2px;
    border-color: #2fc2a9;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    text-overflow: ellipsis
}

.modal-dialog-brand-vote .modal-body .title {
    font-size: 22px;
    margin-bottom: 40px;
    font-weight: 700
}

.modal-dialog-brand-vote .modal-body .stars img {
    width: 48px;
    margin-right: 1rem
}

.modal-dialog-brand-vote .modal-header {
    border-top: 6px solid #2fc2a9;
    border-bottom: none;
    padding: .5rem 1rem
}

.modal-dialog-brand-vote .modal-body .tip {
    font-size: 18px;
    font-weight: 700
}

.form-group span.required {
    color: #d20505;
    position: relative;
    top: -2px
}

.name-store a {
    font-size: 1.1rem;
    color: #333
}

.name-store span {
    font-size: .9rem
}

#btn-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px
}

.title_home {
    font-weight: 700;
    font-size: 30pt;
}

.excerpt_home {
    font-weight: 700;
    font-size: 24pt;
}

.btn-primary {
    background-color: #259fc4;
    border-color: #259fc4
}

.page-container {
    display: block
}

.banner-container {
    padding: 0
}

.page-container .banner-container .banner-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative
}

.page-container .banner-container .banner-panel img {
    max-width: 100%;
    min-height: 150px
}

.page-container .banner-container .banner-panel .caption {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.page-container .banner-container .banner-panel .caption h1 {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    margin: 0;
    color: #fff
}

img {
    vertical-align: middle;
    border-style: none
}

.container-scholarship-form .title-h1 {
    font-size: 30px;
    color: #4c4c4c;
    text-align: center;
    font-weight: 700;
    padding: 30px 0 32px 0;
    margin: 0 auto
}

.container-scholarship-form .step {
    padding-bottom: 50px
}

.container-scholarship-form .step h2 {
    font-weight: 700;
    color: #4d4d4d;
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
    margin: 0
}

.container-scholarship-form .step-1 p {
    font-size: 18px;
    line-height: 20px;
    color: #545454;
    text-align: left;
    padding-bottom: 20px
}

.container-scholarship-form .step .cl-10 {
    margin: 0 auto
}

.container-scholarship-form .step-1 .required-panel {
    position: relative
}

.container-scholarship-form .step-1 .required-panel label {
    font-size: 13px;
    color: #545454;
    margin: 4px 0
}

.container-scholarship-form .step-1 .required-panel .error_info {
    display: none;
    float: right;
    color: #fc5353;
    font-size: 13px;
    margin: 4px 0
}

.container-scholarship-form .step-1 .required-panel input {
    height: 34px;
    line-height: 34px
}

.container-scholarship-form .step-1 .required-panel .required-flag {
    position: absolute;
    left: 5px;
    top: 30px;
    color: red
}

.container-scholarship-form .step .file-panel .file_input {
    position: relative;
    background-color: #dc3545;
    border-radius: 2px;
    padding: 10px 0;
    margin-bottom: 10px;
    color: #f0f0f0;
    font-size: 13px;
    width: 120px;
    text-align: center
}

.container-scholarship-form .step .file-panel .file_input input {
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 100%;
    top: 0
}

.container-scholarship-form .step-2 .required-panel {
    position: relative
}

.container-scholarship-form .step-2 .required-panel p {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #545454;
    margin: 12px 0 6px 0
}

.container-scholarship-form .step-2 .check-panel .error_info {
    position: absolute;
    top: 30px;
    left: 400px
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem
}

.container-scholarship-form .step-2 .required-panel .answer input {
    height: 30px;
    line-height: 30px;
    margin-top: 0
}

.container-scholarship-form .step-2 .required-panel .answer label {
    font-size: 17px;
    line-height: 30px;
    color: #545454
}

.container-scholarship-form .step-2 .required-panel p {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #545454;
    margin: 12px 0 6px 0
}

.container-scholarship-form .step-2 .required-panel .error_info {
    float: right;
    color: #fc5353;
    font-size: 13px;
    margin-top: 18px;
    display: none
}

.container-scholarship-form .step-3 .required-panel {
    position: relative
}

.container-scholarship-form .step-3 .required-panel label {
    font-size: 17px;
    color: #545454;
    margin: 4px 0
}

.container-scholarship-form .step-3 .required-panel .error_info {
    display: none;
    float: right;
    color: #fc5353;
    font-size: 13px;
    margin: 4px 0
}

.container-scholarship-form .submit p {
    text-align: center;
    color: #4c4c4c;
    font-weight: 700;
    font-size: 26px
}

.container-scholarship-form .submit .btn-submit {
    max-width: 380px;
    height: 54px;
    line-height: 54px;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    background-color: #2fc2a9;
    border-radius: 27px;
    color: #fff;
    margin: 0 auto
}

.container-scholarship-form .step-2 .required-panel .required-flag {
    position: absolute;
    left: 5px;
    top: 42px;
    color: red;
    font-size: 18px
}

.div-about-merchant {
    display: flex;
    justify-content: center;
}

.about-merchant-stats {
    align-self: center;
    min-width: 80%;
}

.about-merchant-stats td {
    font-size: 13px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    color: #777;
    padding: 0;
    padding-bottom: 10px;
}

.about-merchant-stats td.cp-r {
    text-align: right;
}

.full-text {
    position: relative;
    max-height: 22px;
    overflow: hidden;
}

.blog-item {
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .07);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .07);
}

.blog-item img {
    max-height: 334px;
}

.blog-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    max-height: 250px;
    overflow: hidden;
}

.blog-title {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    overflow: hidden;
}

.blog-desc {
    color: #8a8a8a;
    font-size: 13px;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.col-title {
    font-size: 24px;
    font-weight: 700;
    color: #232323;
    margin-bottom: 15px;
}

.page-title {
    font-size: 32px;
    color: #232323;
}

.blog-post h1 {
    font-size: 28px;
    font-weight: 700;
    color: #404040;
}

.event-item {
    margin: 0 0 1rem 0;
    padding: 1px;
    background-color: #fff;
    -webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .02) !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .02) !important;
}

.event-item .logo-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 120px;
}

.event-item img {
    max-width: 100px;
    max-height: 100px;
    vertical-align: middle;
    border-style: none;
}

.event-item h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}

.event-item .show-code {
    width: 100%;
}

.event-item .get-code, .event-item .get-deal {
    width: 100%;
    right: 0px;
    height: auto;
}

.coupon-item {
    background-color: #fff;
}

.coupon-item .logo-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 125px;
}

.coupon-item img {
    vertical-align: middle;
}

.logo-top > img {
    max-width: 50%;
    max-height: 60%;
    vertical-align: middle;
    border-style: none;
}

.coupon-item h2 {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}

.coupon-item .show-code {
    width: 100%;
}

.coupon-item .get-deal {
    width: 100%;
}

h2.title {
    font-size: 16px;
}

.title-section {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #7d7a7d;
}

.img_partner {
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center !important;
}

.img_partner img {
    max-width: 100%;
}

.home-top h3 {
    font-size: 1.4em;
    font-weight: bold;
}

.title-result {
    color: #0d4fa0;
    font-size: 17px;
    font-weight: bold;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.snippet {
    font-size: 13px;
    line-height: 19px;
}

@media (max-width: 575px) {
    .row > [class*="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }

    h2.text-truncate {
        white-space: normal;
    }
}

.border-gray {
    border: 1px solid;
    border-color: lightgray !important;
}

.text-darkblue {
    color: #0d4fa0 !important;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0px;
}

#progressBar {
    width: 100%;
    margin: 10px auto;
    height: 22px;
}

#progressBar div {
    height: 100%;
    text-align: center;
    padding: 0 10px;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    box-sizing: border-box;
}

.extend-info h2 {
    font-size: 1.1rem;
    font-weight: 600;
}

.text-gold {
    color: gold;
}

/*Vote*/
.rating-loading {
    width: 25px;
    height: 25px;
    font-size: 0;
    color: #fff;
    background: top left no-repeat;
    border: none
}

.rating-container .rating-stars {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap
}

.rating-container .rating-input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    font-size: 1px;
    border: none;
    background: 0 0;
    padding: 0;
    margin: 0
}

.rating-disabled .rating-input, .rating-disabled .rating-stars {
    cursor: not-allowed

}

.rating-container .star {
    display: inline-block;
    margin: 0 3px;
    text-align: center
}

.rating-container .empty-stars {
    color: #aaa
}

.rating-container .filled-stars {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: #fde16d;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 1px #777;
    text-shadow: 1px 1px #999
}

.rating-rtl {
    float: right

}

.rating-animate .filled-stars {
    transition: width .25s ease;
    -o-transition: width .25s ease;
    -moz-transition: width .25s ease;
    -webkit-transition: width .25s ease
}

.rating-rtl .filled-stars {
    left: auto;
    right: 0;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0)
}

.rating-rtl.is-star
.filled-stars {
    right: .06em

}

.rating-rtl.is-heart .empty-stars {
    margin-right: .07em

}

.rating-lg {
    font-size: 3.91em

}

.rating-md {
    font-size: 1em;
    padding-bottom: 1em;

}

.rating-sm {
    font-size: 1em

}

.rating-xs {
    font-size: 2em

}

.rating-xl {
    font-size: 4.89em

}

.rating-container .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%;
    padding-right: 5px

}

.clear-rating-active {
    cursor: pointer !important

}

.clear-rating-active:hover {
    color: #843534

}

.rating-container .caption {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 0
}

.rating-rtl .caption {
    margin-right: 5px;
    margin-left: 0

}

@media print {
    .rating-container .clear-rating {
        display: none

    }

}

.modal-content {
    overflow: unset;
}

.modal-content {
    overflow: hidden;
    position: relative;
    min-width: 280px;
    border-radius: 3px;
    outline: none;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    max-height: 500px;
}

.email-modal .modal-header {
    display: none;
}

.modal-header {
    min-height: 2em;
    padding: 1em;
}

.email-modal .modal-body {
    display: flex;
    height: 350px;
    padding-bottom: 100%;
    transform: translateY(50%);
    align-items: center;
}

.email-modal .email-modal-content-inner {
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding: 0;
    color: #222;
    text-align: center;
}

.email-modal .email-modal-content-inner .newsletter-subscribe {
    min-width: 200px;
}

.email-modal .email-modal-content-inner .newsletter-subscribe-icon {
    position: relative;
    left: 0;
    width: 70px;
    height: 70px;
    margin: 0 auto .5em;
}

.email-modal .modal-content {
    width: 100%;
    border-radius: 50%;
}

.newsletter-merchant-modal {
    display: none;
}

.email-modal .email-modal-content-inner .newsletter-has-background .newsletter-subscribe-text {
    margin: 0 auto;
    text-align: center;
}

.newsletter-has-background .newsletter-subscribe-text {
    margin: 0 0 10px 85px;
    line-height: 1.6;
    text-align: left;
}

.email-modal .email-modal-content-inner .newsletter-subscribe-title {
    display: block;
    max-width: 330px;
    margin: 0 auto 1.2em;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
}

.email-modal .email-modal-content-inner .newsletter-subscribe-additional-text {
    margin-bottom: 1.1em;
    color: #555;
    font-size: 13px;
    line-height: 1.2;
}

.newsletter-subscribe-form {
    display: flex;
    margin-top: 15px;
    text-align: center;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.email-modal .email-modal-content-inner .newsletter-has-background .form-wrapper {
    margin: 0 auto;
}

.inline-form-elements {
    display: flex;
}

.inline-form-elements .button, .inline-form-elements button {
    width: auto;
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex: 0 0 auto;
}

.newsletter-subscribe-submit {
    min-width: 10em;
}

.newsletter-subscribe-form {
    display: flex;
    margin-top: 15px;
    text-align: center;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.newsletter-subscribe .is-hidden {
    display: none;
}

.email-modal .email-modal-content-inner .privacy-policy-link {
    margin: 6px 13px 0;
    flex: auto;
}

.newsletter-subscribe .privacy-policy-link {
    font-size: 12px;
}

.privacy-policy-link {
    margin: 5px 0 0 2px;
    font-size: 12px;
    line-height: 1.8;
    flex: 1 1 100%;
    align-self: center;
}

.newsletter-has-background .privacy-policy-link {
    max-width: 535px;
    flex: 1 1 85px;
}

.email-modal .email-modal-content-inner .newsletter-subscribe {
    min-width: 200px;
    padding-bottom: 10px;
}

.email-modal .email-modal-content-inner .button-close {
    position: relative;
    top: 10px;
    border: 0;
    background: none;
    color: #0998d6;
    fill: #0998d6;
    cursor: pointer;
}

.email-modal .email-modal-content-inner .button-close .icon-close {
    margin-top: 1px;
    margin-right: 6px;
    font-size: 21px;
}

.email-modal .email-modal-content-inner .button-close {
    position: relative;
    top: 10px;
    border: 0;
    background: none;
    color: #0998d6;
    fill: #0998d6;
    cursor: pointer;
}

@media (min-width: 600px) {
    .email-modal .email-modal-content-inner .newsletter-subscribe-additional-text {
        font-size: 15px;
    }

    .email-modal .email-modal-content-inner .newsletter-subscribe-title {
        font-size: 25px;
    }

    .email-modal .email-modal-content-inner .newsletter-subscribe-icon {
        width: 110px;
        height: 110px;
    }

    .email-modal .email-modal-content-inner .newsletter-subscribe-icon .icon-envelope-open {
        font-size: 110px;
    }
}

.modal-adblock {
    -webkit-font-smoothing: antialiased;
    background-color: #c6262d;
    text-align: center;
    color: white;
    font-size: 1rem;
}

.modal-adblock p {
    color: white;
}

.modal-adblock .title-modal {
    font-size: 2rem;
}

.guide-iframe {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .5);
}

.guide-iframe iframe {
    width: 100%;
    height: 100%;
    border: 0 none;
}

.square {
    width: 100%;
    background-color: #fff;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square-logo {
    width: 90px;
    height: 90px;
    margin: auto;
}

.square-logo img {
    max-height: 100%;
}

.search-box-stores {
    background-color: #2d3e50;
    color: #fff;
    line-height: 1;
}

.search-box-stores h3 {
    font-size: 1.5rem;
}

.bg-gray {
    background: #ececec;
}

.bg-navy {
    background-color: #2d3e50;
}

.btn, .form-control {
    border-radius: inherit;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Opera and Firefox */
}

.home-slide p {
    font-size: 13px;
}

.home-slide .brand-logo {
    border: 1px solid #dee7e4;
    background-color: #fff;
}

.home-slide .brand-logo .img-thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.badge {
    font-weight: 400;
    padding: .15em .4em;
}

.aspect-ratio-169 {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 56.24% 0 0 0; /* 34.37% = 100 / (w / h) = 100 / (640 / 220) */
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.card-body > a {
    font-size: 1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .card-img-top {
        height: 19vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card-img-top {
        height: 10vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card-img-top {
        height: 8vw;
    }
}

h3.card-title {
    font-size: 0.9rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

p.card-text {
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Blog-CSS */
.blog-box {
    transition: .5s;
}

.blog-box-content h4 a {
    font-size: 20px;
    padding: 0px 0 0px;
    text-transform: uppercase;
    color: #2b2b2b;
    text-decoration: none;
}

.blog-box-content h4:hover {
    color: #000;
    text-decoration: none;
}

.blog-box-content {
    padding: 0 20px 20px;
}

.blog-box-text h4 a {
    color: #333;
}

.size-large {
    font-size: 1.4rem;
}

.size-medium {
    font-size: 0.9rem;
}

.badge-intitle {
    font-weight: 200;
    padding: 0.05em .2em;
    color: #28a745;
    border-radius: 4px;
    border: 1px solid;
}

.deal-result .deal-info {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
    display: table;
}

.sale-info {
    letter-spacing: .2px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px dashed;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: table-cell;
    vertical-align: middle;
}

.sale-info .discount {
    font-size: 26px;
    white-space: nowrap;
    font-weight: 700;
    display: block;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.sale-info .suffix {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 3.5rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

a.nav-category {
    color: #c7e2ff;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 0.9rem;
}

.nav-category:hover {
    color: #59aaff;
    text-decoration: underline;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: #2d3e50;
    z-index: 9999;
}

.text-snippet {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.discount {
    font-size: 2rem;
    line-height: 1.3;
    white-space: nowrap;
    font-weight: 700;
    display: block;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.suffix {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
}

/*EndVote*/
