@media (max-width: 667px) {
    .box__menu-footer {
        display: inline-block;
    }
    .box__menu-footer li {
        float: left;
    }

    .mobile__scroll {
        height: 300px;
        overflow: hidden;
        overflow-y: overlay;
        padding: 10px;
    }
    .box__switch,
    .box__btn-show-job {
        margin-bottom: .25rem;
    }
    .pagination__custom {
        overflow: hidden;
        overflow-x: scroll;
    }
    .pagination__custom .pagination {
        width: 100%;
    }
    .trending_content {
        flex-direction: column;
    }
} 