body,html {}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f8f9fa;
}
 
img {
    max-width: 100%;
}
.navbar .list-inline li a{
    color:#1261a0;
}
a {
    color: #000;
}
a:hover,
a:visited,
a:focus {
    text-decoration: none;
}
.p3{
    padding: 0.7rem;
}

.clearfix {
    clear: both;
    margin: 5px 0;
}

.sticky{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1021;
}
.box__logo {
    width: 200px;

     margin: 10px 0;
    
}
.search-hint{
    width: 100%;
}

.search-input{
    border-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-item {
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-item:first-child::after {
    content: '';
    width: 1px;
    height: 20px;
    position: absolute;
    color: #ccc;
    background: #ccc;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
}
.form-search {
    width: 89%;
    padding-bottom: 30px;
}

.form-search .input-group .twitter-typeahead{
    width: 80%;

}
.card-body .btn{
    padding: 5px;
}
.twitter-typeahead .tt-input{
    border-right:none!important;
    border-radius: 5px 0 0 5px;
    width: 100%; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    
}
.form-search .input-group{
    width: 123%
}
#content_top {
    background: #1261a0;
}

.input-group-append {
    margin-left: -3px;
}
#apps-slider .owl-nav { 
    display: block;
}

#apps-slider .owl-nav .owl-next,
#apps-slider .owl-nav .owl-prev { 
    height: 50px;
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 0;
}
#apps-slider .owl-nav .owl-next {
    right: -20px;
}
#apps-slider .owl-nav .owl-prev {
    left: -20px;
}

#apps-slider .owl-nav .owl-next:hover,
#apps-slider .owl-nav .owl-next:focus,
#apps-slider .owl-nav .owl-prev:hover,
#apps-slider .owl-nav .owl-prev:focus {
    background: none;
    outline: none;
}

.box-content__foot {
    background: rgba(255, 255, 255, 0.37);
}

.border-radius-0 {
    border-radius: 0 !important;
}

.flex-1 {
    flex: 1 !important;
}
.flex-2 {
    flex: 2 !important;
}
.flex-8 {
    flex: 8 !important;
}

.blogs_title > div {
    position: relative;
}
.infinite-scroll .blogs_title > div:first-child::after {
    content: '';
    width: 1px;
    height: 40px;
    background: #ddd;
    position: absolute;
    right: 0px;
    top:5px;
}
.blogs_title > div:first-child::after {
    content: '';
    width: 1px;
    height: 40px;
    background: #ddd;
    position: absolute;
    right: -10px;
    top:5px;
}
.blogs_title > div:first-child::before {
    content: '';
    width: 1px;
    height: 40px;
    background: #ddd;
    position: absolute;
    left: 0;
    top:5px;
}
.font-13 {
    font-size: 13px;
}
.font-14 {
    font-size: 14px;
}
.li-item a {
    color: #005eb8;
}


.fa-arrow-up{
    color: #fff;
}

.btn-outline-secondary{
    border-radius: 0;
}
.btn-primary{
    border-radius: 0;
    background: #005eb8;
}
.btn-primary:hover{
    background: #3895d3;
}
.text-primary{
    color: #1261a0!important;
}
.btn{
    padding: 0;
}
.col_blogs .card{
    height: 350px;
}

.collapse_mobile{
    display: none;
}
.navbar-toggler {

    font-size: 1rem;
}
.twitter-typeahead{
    width: calc(100% - 3rem);
}
.tt-menu{
    width: 100%;
}
#blogs .card .card-body .blog_title{
    height: 70px
}
.blog_title{
    /*height: 70px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.blog_content{
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
#find_one{
    margin-top: 30px;
    background-color: #1261a0;
}
#find_one a{
    color: #fff;
}
#find_one a:hover{
    color: #3895d3;
}
.fa-3x {
    font-size: 2em;
}
.devide{
    height: 45px;
    background-color: #1261a0;

}


#header{
        display: flex;
        border-bottom: 20px;
        border-color:  #00a19e;
        background-color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
}

.card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.btn-outline-pjob {
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 15px;
    color: #1261a0;
}
.infinite-scroll{
    display: flex;
    float: left;
}
.post-body a{
    color: #007bff;
}
.card-footer a{
    border-radius: 5px;
    background-color: #1261a0;
}
#footer{
    color: #1261a0;
}
.button-footer{
    background-color: #007bff;
}
.box_copyright{
    background-color: #072f5f;
    color: #a7beff;
}
.box_copyright a{
    color: #fff;
}
.badge-info{
    background-color: #1261a0;
}
.badge-info:hover{
    background-color: #007bff;
}
.button-nav{
    width: 30%;
}
.next__post .btn{
    padding: 5px 10px;
    border-radius: 6px;
}
.show-more{
    width: 80%;
}
.box__view-all .btn-primary{
     color: #fff;
    background-color: #1261a0;
    padding: 10px 15px;
    border-radius: 5px;
}
.box__top-search a:hover{
    background-color: #1261a0;
}

.item-apps:before {
      content: "";
      display: block;
      padding-top: 117%;
      object-fit: cover;
      /* initial ratio of 1:1*/
    }
h1.title-store {
    font-size: 1.75rem;
    margin-bottom: 0;
    margin-top: 0;
}
.coupon h2 a {
    color: #404040;
}
.coupon .deal-desc h2 {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    overflow: hidden;
}
.coupon .deal-desc .subtitle {
    font-size: 13px;
    color: #8a8a8a;
    line-height: 18px;
    word-break: keep-all;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}
.modal-dialog-brand-vote .modal-body .title {
    font-size: 22px;
    margin-bottom: 40px;
    font-weight: 700;
}
.coupon {
    background-color: #fff;
    padding: 13px;
}
.get-deal{
    width: 100%
}
.get-deal a {
    background-color: #1261a0;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    right: 12px;
    border-radius: 2px;
}
.show-code{
    width: 100%;
}
.show-code .h-btn:hover span:after {
    border-width: 22px 19px 32px 0;
}
.show-code .h-btn span:before {
    border-top: 24px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #259fc4;
    border-left: 12px solid #259fc4;
    left: 100%;
}
.show-code .h-btn:hover span {
    right: 35px;
    padding-left: 35px;
    background-color: #1261a0;
}
.show-code .btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    max-width: 100%;
    white-space: nowrap;
    border-radius: inherit;
}
.show-code .h-btn {
    color: #333;
    position: relative;
    padding: 0;
    text-align: right;
    overflow: hidden;
}
.show-code .h-btn span:after, .show-code .h-btn span:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 0;
}

.show-code .h-btn span:after, .show-code .h-btn span:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 0;
}
.show-code .btn.h-btn p {
    direction: rtl;
}

.show-code .btn p {
    line-height: 36px;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
.show-code .h-btn p {
    background-color: #d5f6ff;
    border: 1px solid #a8ced9;
    padding: 0 5px;
    font-size: 16px;
    font-weight: 700;
}

.show-code .h-btn span {
    position: absolute;
    font-weight: 700;
    font-size: 13px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 30px;
    padding-left: 20px;
    background-color: #1261a0;
    color: #fff;
    display: block;
    text-align: center;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
}
.show-code .h-btn span:after {
    border-top: 22px solid transparent;
    border-right: 15px solid #17a2b8;
    border-bottom: 32px solid transparent;
    right: 0;
    z-index: 1;
    -webkit-transform: rotate(-27deg);
    -moz-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    -o-transform: rotate(-27deg);
    transform: rotate(-27deg);
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
}
.lp{
    margin-top: 15px;
    padding: 5px
}

.bi .bp .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
}
.show-code .h-btn span:before {
    border-top: 24px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #1261a0;
    border-left: 12px solid #1261a0;
    left: 100%;
}
.div-about-merchant {
    display: flex;
    justify-content: center;
}
.about-merchant-stats {
    align-self: center;
    min-width: 80%;
}
.about-merchant-stats td {
    font-size: 13px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    color: #777;
    padding: 0;
    padding-bottom: 10px;
}
.about-merchant-stats td.cp-r {
    text-align: right;
}
.discount {
    font-size: 1.5rem;
    line-height: 1.3;
    white-space: nowrap;
    font-weight: 700;
    display: block;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.new-store .links p {
    font-size: 13px;
    -webkit-transition: all .5s;
    transition: all .5s;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
}
.bi .bp .vote .rate-yo {
    margin: auto;
}
.jq-ry-container {
    position: relative;
    padding: 0 5px;
    line-height: 0;
    display: block;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    direction: ltr;
}
.jq-ry-container>.jq-ry-group-wrapper {
    position: relative;
    width: 100%;
}
.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-normal-group {
    width: 100%;
}
.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group {
    position: relative;
    line-height: 0;
    z-index: 10;
    white-space: nowrap;
}
.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
    display: inline-block;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-rated-group {
    width: 0;
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}


.modal-content {
    overflow: hidden;
    position: relative;
    min-width: 280px;
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    max-height: 500px;
}
.modal-dialog-brand-vote .modal-header {
    border-top: 6px solid #005eb8;
    border-bottom: none;
    padding: .5rem 1rem;
}

.modal-header {
    min-height: 2em;
    padding: 1em;
}
.modal-dialog-brand-vote .modal-body .stars img {
    width: 48px;
    margin-right: 1rem;
}
.modal-body .btn-outline-primary{
    background-color: #fff;
    border: 1px solid #005eb8;
    border-radius: 0;
    padding: 5px 10px;

}
.bi .lp .links {
    padding: 10px 15px;
}
.square{
    width: 100%;
    background-color: #fff;
}
.square:after {
    content: "";
    width: 
    display: block;
    padding-bottom: 100%;
}
.btn-read-more{
    width: 100%;
    background-color: #fff;
    border:1px solid #005eb8;
    border-radius: 0;
    padding: 3px
}
.btn-outline-info:hover {
    color: #fff;
    background-color: #005eb8;
    border-color: #005eb8;
}
.equipment{
    position: relative;
}
.equipment:after{
    content: "";
    display: block;
    padding-top: 100%;
    position: relative;
}
.equipment img{
    position: absolute;
    width: 85%;
    height: 85%;
}
.form-email{
    border-right: none;
    border-radius: 5px 0 0 5px;
}
.blog-home-img{
        position: relative;
    }
    .blog-home-img{
        position: relative;
    }
    .blog-home-img:after{
      content: "";
      width: 25%;
      display: block;
      padding-top: 75%;
      position: relative;
    }
    .blog-home-img img{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .card-img-top {
    height: 200px;
    object-fit: cover;
    }
    .blog-home{
    height: 375px;
    }
    
    .navbar-collapse{
    height: 175px;
    }
    .navbar-collapse{
    height: 130px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    }
    .navbar-collapse .form-search{
    width: 100%;
    margin-right: -49px;
    }
    .search{
    padding: 15px 6px 15px 15px;
    width: 100%;
    }
   .button-nav{
    display: block;
   }
   .navbar-light .navbar-toggler {
    display: block;
    }
    .gototop {
   /* border-radius: 50%;
    border: 1px solid #000;*/
    background-color: #1261a0;
    position: fixed;
    bottom: 2%;
    right: 2%;
    opacity: 0;
    }
    .fa-2x{
        font-size: 1.5rem!important;
    }
    .follow-us{
        display: none;
    }
    .box__logo {
    width: 145px;
    margin: 10px 0;
    }
    .related-blog{
        padding-left: 0!important;
    }
    .blog-content{
        padding-right: 10px!important;
    }
    .text-search{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:100px;
    }
    #navbarNav{
        margin-left: auto;
        margin-right: auto!important;
    }
    .menu{
        column-count: 2;
    }
   .box_equipment{
        text-align: center;
    }
    
    
    .box_items-gym{
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
   .e-title{
        height: 65px;
    }
    #result_content h2{
        font-size: 1.5rem;
    }
    #result_content h1{
        font-size: 2rem;
    }
    .extend-info h2{
        font-size: 18px
    }
    .extend-info{
        font-size: 15px;
    }
    #apps-slider .owl-nav{
        display: none
    }
    .search-collapse{
        display: none;
    }
    .search-out-collapse{
        display: block!important;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .search-collapse{
        display: none;
    }
    .search-out-collapse{
        display: block!important;
    }
    .blog-home{
    height: 450px;
    }
    .follow-us{
        display: none;
    }
     .nav-icon{
        margin-left: 0!important;
     }
    .col_blog{
    height:500px;
    }
    .col_blogs .card {
    height: 500px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-left:0;
    padding-right:0;
    }
    .navbar-expand-lg{
    height: 90px;
    }
    .navbar-collapse{
    height: 175px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    }
    .menu{
    column-count: 2;
    }
    .box_equipment{
        text-align: center;
    }
    .navbar-collapse .form-search{
    width: 60%;
    margin-right: -49px;
    }
    .button-nav{
    display: block;
   }
   .gototop {
   /* border-radius: 50%;
    border: 1px solid #000;*/
    background-color: #1261a0;
    position: fixed;
    bottom: 10%;
    right: 3%;
    opacity: 0;
    }
    
.fa-2x{
    font-size: 1.5em;
}

.box_copyright{
    font-size: 12px
}
}

   
}

.navbar-light .navbar-toggler {
    display: block;
}
.navbar-collapse{
    height: 130px;
    }
.text-search{
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width:100px;
}
.keyword-blog {
    overflow: hidden;
    text-overflow: none;
    white-space: nowrap;
}
.sticky-top{
    top: 75px;
}
.text-snippet {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .collapse_mobile{
        display: flex;
    }
    .nav-icon{
        margin-left: 0!important;
     }
    
    .button-nav{
        display: block;
    }
    .lead-text {
        font-size: 1.5rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    }
    .navbar-collapse .form-search{
    width: 60%;
    margin-right: -49px;
    }
    .search{
    padding: 15px 6px 15px 15px;
    width: 100%;
    }
   
    .navbar-light .navbar-toggler{
    display: block;
    }
   .gototop {
   /* border-radius: 50%;
    border: 1px solid #000;*/
    background-color: #1261a0;
    position: fixed;
    bottom: 5%;
    right: 3%;
    opacity: 0;
    }
    .fa-2x{
    font-size: 1.5em;
    }
    .search-collapse{
        display: none;
    }
    .search-out-collapse{
        display: block!important;
    }
}


/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
    
    .navbar-expand-lg .navbar-nav .nav-link  {

    padding-right: 3rem;
    padding-left: 3rem;
    }

    .navbar-expand{
    height: 90px;
    }
    .navbar-collapse .form-search{
    width: 50%;
    margin-right: -49px;
    }
    .search{
    padding: 15px 6px 15px 15px;
    width: 70%;
}
#navbarNav{
    width: 100%;
    display: inline-flex;
}
.button-nav{
    display: none;
   }
   .gototop {
   /* border-radius: 50%;
    border: 1px solid #000;*/
    background-color: #1261a0;
    position: fixed;
    bottom: 5%;
    right: 3%;
    opacity: 0;
}
.fa-2x{
    font-size: 1.5em;
}

}
/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
    padding-left: 3rem;
    }
    .navbar-collapse .form-search{
    width: 50%;
    margin-right: -49px;
    }
    .search{
    padding: 15px 6px 15px 15px;
    width: 70%;
}
#navbarNav{
    width: 100%;
    display: inline-flex;
}
.button-nav{
    display: none;
   }
   .gototop {
   /* border-radius: 50%;
    border: 1px solid #000;*/
    background-color: #1261a0;
    position: fixed;
    bottom: 5%;
    right: 3%;
    opacity: 0;
}
.fa-2x{
    font-size: 1.5em;
}
}